hr.solid {
  border-top: 1px solid @divider-color;
  width: 50%;
  align-self: center;
  margin: 0;
}

.product-title {
  font-size: 30px;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

.product-description-page {
  font-size: 15px;
  width: 100%;
  line-height: 25px;
  padding: 0 45px 0 45px;
}

.product-container .btn-success {
  margin: 25px 0 0 0;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .product-title {
    text-align: left;
  }
  .product-description-page {
    width: 75%;
    margin: 45px 0 0 0;
    padding: 0;
  }
  hr.solid {
    align-self: flex-start;
  }
  .product-container .btn-success {
    align-self: flex-start;
  }
}
