@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("./libraries/layout.less");
@import url("./libraries/colors.less");

// Font

@font: "Ubuntu", sans-serif;
@regular-weight: 400;
@bold-weight: 700;

// Defaults

* {
  box-sizing: border-box;
  font-family: @font;
  font-weight: @regular-weight;
  color: @main-text-color;
}

body {
  background-image: url(./img/bg.png);
  margin: 0;
}

// Navigation bar

@import url("./libraries/nav.less");

// Checkout container

.checkout-container {
  padding: 0 10px 0 10px;
}

// Slider

@import url("./libraries/slider.less");

// Steps

@import url("./libraries/steps.less");

// Product Description

@import url("./libraries/product-description.less");

// Footer

@import url("./libraries/footer.less");
